openapi: 3.2.0
info:
  title: Ppl London Market Negotiation API
  version: '1'
  description: 'Operations tagged negotiation across 2 of this provider''s published API definitions: ppl-london-market-placements.json, ppl-london-market-submissions.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sand-api.londonmarketgroup.co.uk/ppl/nextgen/placements
  description: Joint Integration testing (JIT2) environment
- url: https://sand-api.londonmarketgroup.co.uk/ppl/nextgen/submissions
  description: Joint Integration testing (JIT2) environment
tags:
- name: negotiation
  description: Enables the creation and management of the flow of negotiations from a Broker to an Underwriter. Negotiations shown will be those which (1) have been formally communicated to the Underwriter; and (2) 'saved' Negotiation records (i.e. that are waiting to be sent to the Underwriter).
paths:
  /contracts/{contractId}/negotiations:
    get:
      tags:
      - negotiation
      description: Returns a list of all Negotiation records based upon various query parameters. Pagination functionality is supported on this operation.
      operationId: Negotiation_GetAll_v1
      parameters:
      - name: X-Auth-Impersonated-User
        in: header
        description: The email address of the Requesting User or the Impersonated User.
        schema:
          type: string
          pattern: ^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$
      - name: X-Auth-Team
        in: header
        description: A list of system-generated unique identifiers for each Broker Team, with a format and structure defined by the technology used.
        required: true
        schema:
          pattern: ^(?:[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12})(?:,[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12})*$
          type: array
          items:
            type: string
      - name: contractId
        in: path
        description: A system-generated unique identifier for a Contract, with a format and structure defined by the technology used.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}$
      - name: showLatest
        in: query
        description: Identifies whether the query results will return only the latest Negotiation record (true) or all Negotiation records (false) for each Participation. Search using single exact match method, e.g. showLatest=true/false.
        schema:
          type: string
          pattern: ^([Tt][Rr][Uu][Ee]|[Ff][Aa][Ll][Ss][Ee])$
      - name: createdDate
        in: query
        description: 'The date timestamp when the entity was created.

          Search using range method, e.g. createdDate=range(date1,date2).'
        schema:
          type: string
          pattern: ^range\(\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z,\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z\)$
      - name: modifiedDate
        in: query
        description: 'The date timestamp when the entity was modified.

          Search using range method, e.g. modifiedDate=range(date1,date2).'
        schema:
          type: string
          pattern: ^range\(\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z,\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z\)$
      - name: submissionId
        in: query
        description: 'A system-generated unique identifier for a Submission, with a format and structure defined by the technology used.

          Search using multiple exact match method, e.g. submissionId=id1,id2,id3.'
        schema:
          type: string
          pattern: ^(?:[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12})(?:,[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12})*$
      - name: participationId
        in: query
        description: 'A system-generated unique identifier for a Participation, with a format and structure defined by the technology used.

          Search using multiple exact match method, e.g. participationId=id1,id2,id3.'
        schema:
          type: string
          pattern: ^(?:[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12})(?:,[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12})*$
      - name: brokerTeamName
        in: query
        description: 'The name of the Broker Team, as defined by the broker organisation.

          Search using contains method, e.g. brokerTeamName=contains(astring).'
        schema:
          type: string
          pattern: ^contains\(.{1,256}\)$
      - name: brokerEmail
        in: query
        description: 'The User email of the Broker User responsible for the Contract.

          Search using multiple exact match method, e.g. brokerEmail=email1,email2,email3.'
        schema:
          type: string
          pattern: ^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+(,[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+)*$
      - name: brokerFirstName
        in: query
        description: 'The First Name of the Broker User responsible for the Contract.

          Search using contains method, e.g. brokerFirstName=contains(astring).'
        schema:
          type: string
          pattern: ^contains\(.{1,30}\)$
      - name: brokerLastName
        in: query
        description: 'The Last Name of the Broker User responsible for the Contract.

          Search using contains method, e.g. brokerLastName=contains(astring).'
        schema:
          type: string
          pattern: ^contains\(.{1,30}\)$
      - name: underwriterTeamName
        in: query
        description: 'The name of the Underwriter Team, as defined by the Carrier organisation.

          Search using contains method, e.g. underwriterTeamName=contains(astring).'
        schema:
          type: string
          pattern: ^contains\(.{1,256}\)$
      - name: underwriterEmail
        in: query
        description: "The email of the Underwriter. \nSearch using multiple exact match method, e.g. underwriterEmail=email1,email2,email3."
        schema:
          type: string
          pattern: ^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+(,[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+)*$
      - name: underwriterFirstName
        in: query
        description: 'The first name by which the Underwriter is known for.

          Search using contains method, e.g. underwriterFirstName=contains(astring).'
        schema:
          type: string
          pattern: ^contains\(.{1,30}\)$
      - name: underwriterLastName
        in: query
        description: 'The last name by which the Underwriter is known for.

          Search using contains method, e.g. underwriterLastName=contains(astring).'
        schema:
          type: string
          pattern: ^contains\(.{1,30}\)$
      - name: sentByEmail
        in: query
        description: 'The User email of the Broker or Underwriter User that sent this Negotiation.

          Search using multiple exact match method, e.g. sentByEmail=email1,email2,email3.'
        schema:
          type: string
          pattern: ^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+(,[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+)*$
      - name: sentByFirstName
        in: query
        description: 'The First Name of the Broker or Underwriter User that sent this Negotiation.

          Search using contains method, e.g. sentByFirstName=contains(astring).'
        schema:
          type: string
          pattern: ^contains\(.{1,30}\)$
      - name: sentByLastName
        in: query
        description: 'The Last Name of the Broker or Underwriter User that sent this Negotiation.

          Search using contains method, e.g. sentByLastName=contains(astring).'
        schema:
          type: string
          pattern: ^contains\(.{1,30}\)$
      - name: type
        in: query
        description: 'The type of the Negotiation.

          Search using multiple exact match method, e.g. type=code1,code2,code3.'
        schema:
          type: string
          pattern: ^(.*)(,.*)*$
      - name: subType
        in: query
        description: 'The subtype of the Negotiation.

          Search using multiple exact match method, e.g. subType=code1,code2,code3.'
        schema:
          type: string
          pattern: ^(.*)(,.*)*$
      - name: status
        in: query
        description: 'The code that represents the Negotiation status, based upon the Type of Negotiation.

          Search using multiple exact match method, e.g. status=code1,code2,code3.'
        schema:
          type: string
          pattern: ^(.*)(,.*)*$
      - name: isLeader
        in: query
        description: 'Parameter used to return Negotiations records that have a leader role (true) or not (false).

          Search using single exact match method, e.g. isLeader=true/false.'
        schema:
          type: string
          pattern: ^([Tt][Rr][Uu][Ee]|[Ff][Aa][Ll][Ss][Ee])$
      - name: role
        in: query
        description: 'The code that represents the role or roles that the Underwriter plays through their participation.

          Search using multiple exact match method, e.g. role=code1,code2,code3.'
        schema:
          type: string
          pattern: ^(.*)(,.*)*$
      - name: hasLineConditions
        in: query
        description: 'Parameter used to return Negotiation records that have at least one Line Condition (true) or no Line Conditions (false) present in any Stamp within a Participation, irrespective of the Status of the Line Condition.

          Search using single exact match method, e.g. hasLineConditions=true/false.'
        schema:
          type: string
          pattern: ^([Tt][Rr][Uu][Ee]|[Ff][Aa][Ll][Ss][Ee])$
      - name: hasSubjectivities
        in: query
        description: 'Parameter used to return Negotiation records that have at least one Subjectivity (true) or no Subjectivities (false) present.

          Search using single exact match method, e.g. hasSubjectivities=true/false.'
        schema:
          type: string
          pattern: ^([Tt][Rr][Uu][Ee]|[Ff][Aa][Ll][Ss][Ee])$
      - name: sort
        in: query
        description: 'Sorting field and order (unique field only).

          Use + before the field name for ascending order, use - for descending order.'
        schema:
          type: string
          pattern: ^[+-]?\w+$
      - name: pageNumber
        in: query
        description: Number of the page to be retrieved.
        schema:
          type: integer
          format: int32
          minimum: 1
        example: 1
      - name: pageSize
        in: query
        description: Size of the page to be retrieved.
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 200
        example: 200
      - name: sectionId
        in: query
        description: 'A system-generated unique identifier for a Section, with a format and structure defined by the technology used.

          Search using multiple exact match method, e.g. sectionId=id1,id2,id3.'
        schema:
          type: string
          pattern: ^(?:[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12})(?:,[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12})*$
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_placement_negotiations_getall'
        '400':
          description: Mandatory header parameter is missing from the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '401':
          description: Authentication error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '404':
          description: Invalid team or user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '414':
          description: The maximum field length of the URI provided for the request has been exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
      summary: Negotiation get all v1
      x-summary-source: derived
    post:
      tags:
      - negotiation
      description: Creates a single Negotiation record in response to an Underwriter User's response. Broker Users will be able to accept or reject, confirm or negotiate on various attributes of their involvement, i.e. acceptance of contractual roles, carrier stamps, line conditions and subjectivities.
      operationId: Negotiation_Post_v1
      parameters:
      - name: X-Auth-Impersonated-User
        in: header
        description: The email address of the Requesting User or the Impersonated User.
        schema:
          type: string
          pattern: ^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$
      - name: X-Auth-Team
        in: header
        description: A system-generated unique identifier for a Broker Team, with a format and structure defined by the technology used.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}$
      - name: contractId
        in: path
        description: A system-generated unique identifier for a Contract, with a format and structure defined by the technology used.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}$
      requestBody:
        description: Negotiation structure for creation.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/placement_negotiation_post'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/placement_negotiation_getbyid'
        '400':
          description: Mandatory header parameter is missing from the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '401':
          description: Authentication error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '404':
          description: Invalid team or user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '414':
          description: The maximum field length of the URI provided for the request has been exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
      x-codegen-request-body-name: negotiation
      summary: Negotiation post v1
      x-summary-source: derived
    servers:
    - url: https://sand-api.londonmarketgroup.co.uk/ppl/nextgen/placements
      description: Joint Integration testing (JIT2) environment
  /contracts/{contractId}/negotiations/{negotiationId}:
    get:
      tags:
      - negotiation
      description: Returns a single Negotiation record. This record will contain attributes pertaining to the single negotiation position between a Broker User and an Underwriter User, based upon its negotiation status within the insurance placement process.
      operationId: Negotiation_GetById_v1
      parameters:
      - name: X-Auth-Impersonated-User
        in: header
        description: The email address of the Requesting User or the Impersonated User.
        schema:
          type: string
          pattern: ^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$
      - name: X-Auth-Team
        in: header
        description: A system-generated unique identifier for a Broker Team, with a format and structure defined by the technology used.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}$
      - name: contractId
        in: path
        description: A system-generated unique identifier for a Contract, with a format and structure defined by the technology used.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}$
      - name: negotiationId
        in: path
        description: A system-generated unique identifier for a Negotiation, with a format and structure defined by the technology used.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}$
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/placement_negotiation_getbyid'
        '400':
          description: Mandatory header parameter is missing from the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '401':
          description: Authentication error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '404':
          description: Invalid team or user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '414':
          description: The maximum field length of the URI provided for the request has been exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
      summary: Negotiation get by id v1
      x-summary-source: derived
    put:
      tags:
      - negotiation
      description: Updates a Negotiation record, where the record is in a state that enables its update. For example, where Negotiations are in a saved and unsent state.
      operationId: Negotiation_Put_v1
      parameters:
      - name: X-Auth-Impersonated-User
        in: header
        description: The email address of the Requesting User or the Impersonated User.
        schema:
          type: string
          pattern: ^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$
      - name: X-Auth-Team
        in: header
        description: A system-generated unique identifier for a Broker Team, with a format and structure defined by the technology used.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}$
      - name: X-Last-Modified
        in: header
        description: The date timestamp to be used to validate an update operation.
        required: true
        schema:
          type: string
          format: date-time
        example: '2014-12-31T23:59:59.938Z'
      - name: contractId
        in: path
        description: A system-generated unique identifier for a Contract, with a format and structure defined by the technology used.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}$
      - name: negotiationId
        in: path
        description: A system-generated unique identifier for a Section, with a format and structure defined by the technology used.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}$
      requestBody:
        description: Negotiation structure for updates.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/placement_negotiation_put'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/placement_negotiation_getbyid'
        '400':
          description: Mandatory header parameter is missing from the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '401':
          description: Authentication error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '404':
          description: Invalid team or user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '414':
          description: The maximum field length of the URI provided for the request has been exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
      x-codegen-request-body-name: negotiation
      summary: Negotiation put v1
      x-summary-source: derived
    servers:
    - url: https://sand-api.londonmarketgroup.co.uk/ppl/nextgen/placements
      description: Joint Integration testing (JIT2) environment
  /contracts/{contractId}/negotiations/{negotiationId}/send:
    post:
      tags:
      - negotiation
      description: Initiates the operation to send the latest negotiation response back to an Underwriter. The outcome of this will either (1) agree to the change of terms; (2) negotiate the Underwriter's latest offer; or (3) withdraw the offer.
      operationId: Negotiation_Send_v1
      parameters:
      - name: X-Auth-Impersonated-User
        in: header
        description: The email address of the Requesting User or the Impersonated User.
        schema:
          type: string
          pattern: ^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$
      - name: X-Auth-Team
        in: header
        description: A system-generated unique identifier for a Broker Team, with a format and structure defined by the technology used.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}$
      - name: X-Last-Modified
        in: header
        description: The date timestamp to be used to validate an update operation.
        required: true
        schema:
          type: string
          format: date-time
        example: '2014-12-31T23:59:59.938Z'
      - name: contractId
        in: path
        description: A system-generated unique identifier for a Contract, with a format and structure defined by the technology used.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}$
      - name: negotiationId
        in: path
        description: A system-generated unique identifier for a Section, with a format and structure defined by the technology used.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}$
      responses:
        '200':
          description: Negotiation output structure for send.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/placement_negotiation_getbyid'
        '400':
          description: Mandatory header parameter is missing from the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '401':
          description: Authentication error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '404':
          description: Invalid team or user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '414':
          description: The maximum field length of the URI provided for the request has been exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
      summary: Negotiation send v1
      x-summary-source: derived
    servers:
    - url: https://sand-api.londonmarketgroup.co.uk/ppl/nextgen/placements
      description: Joint Integration testing (JIT2) environment
  /submissions/{submissionId}/negotiations:
    get:
      tags:
      - negotiation
      description: Returns a list of all Negotiation records based upon various query parameters. Pagination functionality is supported on this operation.
      operationId: Negotiation_GetAll_v1
      parameters:
      - name: X-Auth-Impersonated-User
        in: header
        description: The email address of the Requesting User or the Impersonated User.
        schema:
          type: string
          pattern: ^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$
      - name: X-Auth-Team
        in: header
        description: A list of system-generated unique identifiers for each Underwriter Team, with a format and structure defined by the technology used.
        required: true
        schema:
          pattern: ^(?:[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12})(?:,[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12})*$
          type: array
          items:
            type: string
      - name: submissionId
        in: path
        description: A system-generated unique identifier for a Submission, with a format and structure defined by the technology used.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}$
      - name: createdDate
        in: query
        description: 'The date timestamp when the entity was created.

          Search using range method, e.g. createdDate=range(date1,date2).'
        schema:
          type: string
          pattern: ^range\(\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z,\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z\)$
      - name: modifiedDate
        in: query
        description: 'The date timestamp when the entity was modified.

          Search using range method, e.g. modifiedDate=range(date1,date2).'
        schema:
          type: string
          pattern: ^range\(\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z,\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z\)$
      - name: contractId
        in: query
        description: 'A system-generated unique identifier for a Contract, with a format and structure defined by the technology used.

          Search using multiple exact match method, e.g. contractId=id1,id2,id3.'
        schema:
          type: string
          pattern: ^(?:[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12})(?:,[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12})*$
      - name: participationId
        in: query
        description: 'A system-generated unique identifier for a Participation, with a format and structure defined by the technology used.

          Search using multiple exact match method, e.g. participationId=id1,id2,id3.'
        schema:
          type: string
          pattern: ^(?:[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12})(?:,[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12})*$
      - name: brokerTeamName
        in: query
        description: "The name of the Broker Team, as defined by the broker organisation. \nSearch using contains method, e.g. brokerTeamName=contains(astring)."
        schema:
          type: string
          pattern: ^contains\(.{1,256}\)$
      - name: brokerEmail
        in: query
        description: 'The User email of the Broker User responsible for the Contract.

          Search using multiple exact match method, e.g. brokerEmail=email1,email2,email3.'
        schema:
          type: string
          pattern: ^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+(,[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+)*$
      - name: brokerFirstName
        in: query
        description: 'The First Name of the Broker User responsible for the Contract.

          Search using contains method, e.g. brokerFirstName=contains(astring).'
        schema:
          type: string
          pattern: ^contains\(.{1,30}\)$
      - name: brokerLastName
        in: query
        description: 'The Last Name of the Broker User responsible for the Contract.

          Search using contains method, e.g. brokerLastName=contains(astring).'
        schema:
          type: string
          pattern: ^contains\(.{1,30}\)$
      - name: underwriterTeamId
        in: query
        description: 'A system-generated unique identifier for an Underwriter Team, with a format and structure defined by the technology used.

          Search using multiple exact match method, e.g. underwriterTeamId=id1,id2,id3.'
        schema:
          type: string
          pattern: ^(?:[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12})(?:,[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12})*$
      - name: underwriterTeamName
        in: query
        description: 'The name of the Underwriter Team, as defined by the Carrier organisation.

          Search using contains method, e.g. underwriterTeamName=contains(astring).'
        schema:
          type: string
          pattern: ^contains\(.{1,256}\)$
      - name: underwriterEmail
        in: query
        description: 'The User email of the Underwriter User responsible for the Negotiation.

          Search using multiple exact match method, e.g. underwriterEmail=email1,email2,email3.'
        schema:
          type: string
          pattern: ^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+(,[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+)*$
      - name: underwriterFirstName
        in: query
        description: 'The First Name of the Underwriter User responsible for the Negotiation.

          Search using contains method, e.g. underwriterFirstName=contains(astring).'
        schema:
          type: string
          pattern: ^contains\(.{1,30}\)$
      - name: underwriterLastName
        in: query
        description: 'The Last Name of the Underwriter User responsible for the Negotiation.

          Search using contains method, e.g. underwriterLastName=contains(astring).'
        schema:
          type: string
          pattern: ^contains\(.{1,30}\)$
      - name: sentByEmail
        in: query
        description: 'The User email of the Broker or Underwriter User that sent this Negotiation.

          Search using multiple exact match method, e.g. sentByEmail=email1,email2,email3.'
        schema:
          type: string
          pattern: ^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+(,[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+)*$
      - name: sentByFirstName
        in: query
        description: 'The First Name of the Broker or Underwriter User that sent this Negotiation.

          Search using contains method, e.g. sentByFirstName=contains(astring).'
        schema:
          type: string
          pattern: ^contains\(.{1,30}\)$
      - name: sentByLastName
        in: query
        description: 'The Last Name of the Broker or Underwriter User that sent this Negotiation.

          Search using contains method, e.g. sentByLastName=contains(astring).'
        schema:
          type: string
          pattern: ^contains\(.{1,30}\)$
      - name: type
        in: query
        description: 'The type of the Negotiation.

          Search using multiple exact match method, e.g. type=code1,code2,code3.'
        schema:
          type: string
          pattern: ^(.*)(,.*)*$
      - name: subType
        in: query
        description: 'The subtype of the Negotiation.

          Search using multiple exact match method, e.g. subType=code1,code2,code3.'
        schema:
          type: string
          pattern: ^(.*)(,.*)*$
      - name: status
        in: query
        description: 'The code that represents the Negotiation status, based upon the Type of Negotiation.

          Search using multiple exact match method, e.g. status=code1,code2,code3.'
        schema:
          type: string
          pattern: ^(.*)(,.*)*$
      - name: isLeader
        in: query
        description: 'Parameter used to return Negotiations records that have a leader role (true) or not (false).

          Search using single exact match method, e.g. isLeader=true/false.'
        schema:
          type: string
          pattern: ^([Tt][Rr][Uu][Ee]|[Ff][Aa][Ll][Ss][Ee])$
      - name: role
        in: query
        description: 'The code that represents the role or roles that the Underwriter plays through their participation.

          Search using multiple exact match method, e.g. role=code1,code2,code3.'
        schema:
          type: string
          pattern: ^(.*)(,.*)*$
      - name: hasLineConditions
        in: query
        description: 'Parameter used to return Negotiation records that have at least one Line Condition (true) or no Line Conditions (false) present in any Stamp within a Participation, irrespective of the Status of the Line Condition.

          Search using single exact match method, e.g. hasLineConditions=true/false.'
        schema:
          type: string
          pattern: ^([Tt][Rr][Uu][Ee]|[Ff][Aa][Ll][Ss][Ee])$
      - name: hasSubjectivities
        in: query
        description: 'Parameter used to return Negotiation records that have at least one Subjectivity (true) or no Subjectivities (false) present.

          Search using single exact match method, e.g. hasSubjectivities=true/false.'
        schema:
          type: string
          pattern: ^([Tt][Rr][Uu][Ee]|[Ff][Aa][Ll][Ss][Ee])$
      - name: showLatest
        in: query
        description: Identifies whether the query results will return only the latest Negotiation record (true) or all Negotiation records (false) for each Participation. Search using single exact match method, e.g. showLatest=true/false.
        schema:
          type: string
          pattern: ^([Tt][Rr][Uu][Ee]|[Ff][Aa][Ll][Ss][Ee])$
      - name: sort
        in: query
        description: 'Sorting field and order (unique field only).

          Use + before the field name for ascending order, use - for descending order.'
        schema:
          type: string
          pattern: ^[+-]?\w+$
      - name: pageNumber
        in: query
        description: Number of the page to be retrieved.
        schema:
          type: integer
          format: int32
          minimum: 1
        example: 1
      - name: pageSize
        in: query
        description: Size of the page to be retrieved.
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 200
        example: 200
      - name: negotiationId
        in: query
        description: 'A system-generated unique identifier for a Negotiation, with a format and structure defined by the technology used.

          Search using multiple exact match method, e.g. negotiationId=id1,id2,id3.'
        schema:
          type: string
          pattern: ^(?:[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12})(?:,[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}){0,9}$
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_submission_negotiations_getall'
        '400':
          description: Mandatory header parameter is missing from the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '401':
          description: Authentication error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '404':
          description: Invalid team or user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '414':
          description: The maximum field length of the URI provided for the request has been exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
      summary: Negotiation get all v1
      x-summary-source: derived
    post:
      tags:
      - negotiation
      description: Creates a single Negotiation record in response to a Broker User's request for consideration. Underwriter Users will be able to reject, confirm or negotiate on various attributes of their involvement, i.e. acceptance of contractual roles, carrier stamps, line conditions and subjectivities.
      operationId: Negotiation_Post_v1
      parameters:
      - name: X-Auth-Impersonated-User
        in: header
        description: The email address of the Requesting User or the Impersonated User.
        schema:
          type: string
          pattern: ^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$
      - name: X-Auth-Team
        in: header
        description: A system-generated unique identifier for a Underwriter Team, with a format and structure defined by the technology used.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}$
      - name: submissionId
        in: path
        description: A system-generated unique identifier for a Submission, with a format and structure defined by the technology used.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}$
      requestBody:
        description: Negotiation structure for creation.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submission_negotiation_post'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/submission_negotiation_getbyid'
        '400':
          description: Mandatory header parameter is missing from the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '401':
          description: Authentication error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '404':
          description: Invalid team or user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '414':
          description: The maximum field length of the URI provided for the request has been exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
      x-codegen-request-body-name: negotiation
      summary: Negotiation post v1
      x-summary-source: derived
    servers:
    - url: https://sand-api.londonmarketgroup.co.uk/ppl/nextgen/submissions
      description: Joint Integration testing (JIT2) environment
  /submissions/{submissionId}/negotiations/{negotiationId}:
    get:
      tags:
      - negotiation
      description: Returns a single Negotiation record. This record will contain attributes pertaining to the single negotiation position between an Underwriter User and an Broker User, based upon its negotiation status within the insurance placement process.
      operationId: Negotiation_GetById_v1
      parameters:
      - name: X-Auth-Impersonated-User
        in: header
        description: The email address of the Requesting User or the Impersonated User.
        schema:
          type: string
          pattern: ^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$
      - name: X-Auth-Team
        in: header
        description: A system-generated unique identifier for a Underwriter Team, with a format and structure defined by the technology used.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}$
      - name: submissionId
        in: path
        description: A system-generated unique identifier for a Submission, with a format and structure defined by the technology used.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}$
      - name: negotiationId
        in: path
        description: A system-generated unique identifier for a Negotiation, with a format and structure defined by the technology used.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}$
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/submission_negotiation_getbyid'
        '400':
          description: Mandatory header parameter is missing from the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '401':
          description: Authentication error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '404':
          description: Invalid team or user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '414':
          description: The maximum field length of the URI provided for the request has been exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
      summary: Negotiation get by id v1
      x-summary-source: derived
    put:
      tags:
      - negotiation
      description: Updates a Negotiation record, where the record is in a state that enables its update. For example, where Negotiations are in a saved and unsent state.
      operationId: Negotiation_Put_v1
      parameters:
      - name: X-Auth-Impersonated-User
        in: header
        description: The email address of the Requesting User or the Impersonated User.
        schema:
          type: string
          pattern: ^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$
      - name: X-Auth-Team
        in: header
        description: A system-generated unique identifier for a Underwriter Team, with a format and structure defined by the technology used.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}$
      - name: X-Last-Modified
        in: header
        description: The date timestamp to be used to validate an update operation.
        required: true
        schema:
          type: string
          format: date-time
        example: '2014-12-31T23:59:59.938Z'
      - name: submissionId
        in: path
        description: A system-generated unique identifier for a Submission, with a format and structure defined by the technology used.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}$
      - name: negotiationId
        in: path
        description: A system-generated unique identifier for a Negotiation, with a format and structure defined by the technology used.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}$
      requestBody:
        description: Negotiation structure for updates.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submission_negotiation_put'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/submission_negotiation_getbyid'
        '400':
          description: Mandatory header parameter is missing from the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '401':
          description: Authentication error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '404':
          description: Invalid team or user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '414':
          description: The maximum field length of the URI provided for the request has been exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
      x-codegen-request-body-name: negotiation
      summary: Negotiation put v1
      x-summary-source: derived
    servers:
    - url: https://sand-api.londonmarketgroup.co.uk/ppl/nextgen/submissions
      description: Joint Integration testing (JIT2) environment
  /submissions/{submissionId}/negotiations/{negotiationId}/reaassign:
    put:
      tags:
      - negotiation
      description: Reassigns a Negotiation record to another Underwriter User. The destined Underwriter User does not have to be a member of the same Carrier Team owning the original Submission, but must exist within the same Company hierarchical structure. For the destined Underwriter User, either the entire Submission record is reassigned, or a new Submission record will be created (where there are multiple requests which remain with the original Underwriter User) for underwriting purposes.
      operationId: Negotiation_Reassign_v1
      parameters:
      - name: X-Auth-Impersonated-User
        in: header
        description: The email address of the Requesting User or the Impersonated User.
        schema:
          type: string
          pattern: ^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$
      - name: X-Auth-Team
        in: header
        description: A system-generated unique identifier for a Underwriter Team, with a format and structure defined by the technology used.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}$
      - name: X-Last-Modified
        in: header
        description: The date timestamp to be used to validate an update operation.
        required: true
        schema:
          type: string
          format: date-time
        example: '2014-12-31T23:59:59.938Z'
      - name: submissionId
        in: path
        description: A system-generated unique identifier for a Submission, with a format and structure defined by the technology used.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}$
      - name: negotiationId
        in: path
        description: A system-generated unique identifier for a Negotiation, with a format and structure defined by the technology used.
        required: true
        schema:
          type: string
          pattern: ^[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}$
      requestBody:
        description: Negotiation structure for reassign.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submission_negotiation_reassign'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/submission_negotiation_reassign_output'
        '400':
          description: Mandatory header parameter is missing from the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '401':
          description: Authentication error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '404':
          description: Invalid team or user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '414':
          description: The maximum field length of the URI provided for the request has been exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '429':
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_document'
      x-codegen-request-body-name: negotiation
      summary: Negotiation reassign v1
      x-summary-source: derived
    servers:
    - url: https://sand-api.londonmarketgroup.co.uk/ppl/nextgen/submissions
      description: Joint Integration testing (JIT2) environment
components:
  schemas:
    placement_negotiation_amount:
      type: object
      properties:
        value:
          type: number
          description: The specified underwriting value, as an amount.
          example: 0.1
        comments_history:
          type: array
          description: Array of comments on the Line Percentage Negotiation.
          items:
            $ref: '#/components/schemas/placement_negotiation_comments'
      additionalProperties: false
      description: The specified underwriting value, as an amount.
    placement_negotiation_facility_panel_signed:
      type: object
      properties:
        line_percentage:
          type: number
          description: The specified underwriting value, as a percentage.
          example: 0.1
        currency_code:
          type: string
          description: The 3-character code that represents the currency in ISO 4217 standard.
          default: ''
        amount:
          type: number
          description: The specified underwriting value, as an amount.
          example: 0.1
        date:
          type: string
          description: The date and timestamp when the signed line was provided.
          format: date-time
          example: '2014-12-31T23:59:59.938Z'
      additionalProperties: false
      description: The signed line information, that the Broker has confirmed to the Underwriter.
    error_document:
      type: object
      description: The error document.
      properties:
        errors:
          type: array
          description: A collection of errors. The list may be empty.
          items:
            $ref: '#/components/schemas/error'
    placement_negotiation_role_postput:
      required:
      - accept_decline_role_indicator
      - role
      type: object
      properties:
        role:
          type: string
          description: The code that represents the role or roles that the Underwriter plays through their participation.
          default: ''
        accept_decline_role_indicator:
          type: boolean
          description: dentifies whether declined contractual role has been accepted (true) or not (false).&#160;
          example: false
        comment:
          type: string
          description: Latest comment on the negotiation of declining the contractual role proposed by the Broker.
          default: ''
          pattern: ^.{1,8000}$
      additionalProperties: false
      description: A mapping between Participation and Participation Role Type. This allows multiple roles to be captured against a single participation, for example both Slip Lead and Lloyd&#39;s Lead.
    placement_negotiation_role:
      required:
      - status
      - role
      type: object
      properties:
        status:
          type: string
          description: The code that represents the status of the role when this is under negotiation, i.e. differs from that which was originally proposed.
          default: ''
        role:
          type: string
          description: The code that represents the role or roles that the Underwriter plays through their participation.
          default: ''
      additionalProperties: false
      description: A mapping between Participation and Participation Role Type. This allows multiple roles to be captured against a single participation, for example both Slip Lead and Lloyd&#39;s Lead.
    placement_negotiation_comments:
      required:
      - comment
      - date
      - user
      type: object
      properties:
        date:
          type: string
          description: The date and timestamp when the comment was provided.
          format: date
          example: '2014-12-31T00:00:00.000Z'
        comment:
          type: string
          description: The Sender comment specific for a negotiable data attribute.
          default: ''
        user:
          $ref: '#/components/schemas/comment_user'
      additionalProperties: false
      description: Array of comments for Negotiation usage.
    comment_user:
      required:
      - first_name
      - last_name
      - user_email
      type: object
      properties:
        user_email:
          type: string
          description: The email address of the User.
          default: ''
        first_name:
          type: string
          description: The first name of the User.
          default: ''
        last_name:
          type: string
          description: The last name of the User.
          default: ''
      additionalProperties: false
      description: The User information of the User.
    placement_negotiation_stamp_line_condition:
      required:
      - code
      - description
      - line_condition_id
      - status
      type: object
      properties:
        line_condition_id:
          type: string
          description: A system-generated unique identifier for a Line Condition, with a format and structure defined by the technology used.
          default: ''
        description:
          type: string
          description: A description of the line condition.
          default: ''
        status:
          type: string
          description: The code that represents the status of the line condition when this is under negotiation, i.e. differs from that which was originally proposed.
          default: ''
        code:
          type: string
          description: The code that identifies whether a line condition is global line condition that functionally impacts platform behaviour.
          default: ''
        comments_history:
          type: array
          description: Array of comments on the stamps&#39; line conditions negotiation.
          items:
            $ref: '#/components/schemas/placement_negotiation_comments'
      additionalProperties: false
      description: The Line Condition information, identifying the Line Condition itself, the status of its agreement.
    placement_negotiation_subjectivity_post:
      required:
      - subjectivity_id
      type: object
      properties:
        subjectivity_id:
          type: string
          description: A system-generated unique identifier for a Subjectivity, with a format and structure defined by the technology used.
          default: ''
          pattern: ^[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}$
        saved_as_accepted:
          type: boolean
          description: Identifies when the Subjectivity under review from the Broker is marked as Accepted (true) or not (false).
          example: false
        comment:
          type: string
          description: Latest comment on the negotiation of a Subjectivity proposed by the Underwriter.
          default: ''
          pattern: ^.{1,8000}$
      additionalProperties: false
      description: The Subjectivity information, identifying the Subjectivity itself, the status of cover prior to its agreement/satisfaction and any deadline applied to satisfy.
    placement_negotiation_stamp_reference:
      required:
      - description
      - reference
      type: object
      properties:
        reference:
          type: string
          description: The reference allocated by the underwriter against the Stamp.
          default: ''
        description:
          type: string
          description: A description of any processing instructions supplied with the line Reference.
          default: ''
        risk_codes:
          type: array
          description: The regulatory code(s) that are applicable to the Reference.
          items:
            type: string
            default: ''
      additionalProperties: false
      description: ''
    placement_negotiation_stamp_line_condition_postput:
      required:
      - accept_line_condition_indicator
      - line_condition_id
      type: object
      properties:
        line_condition_id:
          type: string
          description: A system-generated unique identifier for a Line Condition, with a format and structure defined by the technology used.
          default: ''
          pattern: ^[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}$
        accept_line_condition_indicator:
          type: boolean
          description: Identifies whether the line condition has been accepted (true) or not (false).&#160;
          example: false
        comment:
          type: string
          description: Latest comment on the negotiation of a Carrier Stamp&#39;s Line Condition proposed by the Underwriter.
          default: ''
          pattern: ^.{1,8000}$
      additionalProperties: false
      description: The Line Condition information, identifying the Line Condition itself, the status of its agreement.
    placement_negotiation_facility_panel_calculated:
      type: object
      properties:
        line_percentage:
          type: number
          description: The specified underwriting value, as a percentage.
          example: 0.1
      additionalProperties: false
      description: The calculated signing down information, following the Broker invoking the signing down process in the Section.
    placement_negotiation_leader_written_line_percenta:
      type: object
      properties:
        value:
          type: number
          description: The specified underwriting value, as a percentage.
          example: 0.1
      additionalProperties: false
      description: ''
    placement_negotiation_sub_panel:
      required:
      - name
      - sub_panel_id
      type: object
      properties:
        sub_panel_id:
          type: string
          description: A system-generated unique identifier for a Sub Panel, with a format and structure defined by the technology used.
          default: ''
        name:
          type: string
          description: The name of the sub panel.
          default: ''
      additionalProperties: false
      description: The sub panel information, identifying a group of Participations with a common set of underwriting terms.
    placement_negotiation_amount_postput:
      type: object
      properties:
        comment:
          type: string
          description: Latest comment on the negotiation of a differing Written Line Amount than that proposed by the Broker.
          default: ''
          pattern: ^.{1,8000}$
      additionalProperties: false
      description: The specified underwriting value, as an amount.
    placement_negotiation_leader_written_amount:
      type: object
      properties:
        value:
          type: number
          description: The specified underwriting value, as an amount.
          example: 0.1
      additionalProperties: false
      description: ''
    placement_negotiation_signed:
      type: object
      properties:
        line_percentage:
          type: number
          description: The specified underwriting value, as a percentage.
          example: 0.1
        date:
          type: string
          description: The date and timestamp when the signed line was provided.
          format: date-time
          example: '2014-12-31T23:59:59.938Z'
        currency_code:
          type: string
          description: The 3-character code that represents the currency in ISO 4217 standard.
          default: ''
        amount:
          type: number
          description: The specified underwriting value, as an amount.
          example: 0.1
      additionalProperties: false
      description: The signed line information, that the Broker has confirmed to the Underwriter.
    response_placement_negotiations_getall:
      required:
      - count
      - negotiations
      - page_number
      - page_size
      - total_results
      type: object
      properties:
        negotiations:
          type: array
          description: List of negotiations retrieved
          items:
            $ref: '#/components/schemas/placement_negotiation_getall'
        page_number:
          type: integer
          description: Number of the page retrieved
          format: int32
          example: 0
        page_size:
          type: integer
          description: Size of the page retrieved
          format: int32
          example: 0
        count:
          type: integer
          description: The number of records on the current page
          format: int32
          example: 0
        total_results:
          type: integer
          description: Total number of results
          format: int64
          example: 1234567891234567
      additionalProperties: false
      description: ''
    placement_negotiation_facility_panel_master:
      required:
      - facility_contract_id
      - section_id
      - section_name
      - unique_market_reference
      type: object
      properties:
        facility_contract_id:
          type: string
          description: A system-generated unique identifier for a Contract, with a format and structure defined by the technology used.
          default: ''
        unique_market_reference:
          type: string
          description: The reference allocated by the broker to identify the Contract for use within the placement process, as a concatenation of the Broker Code and Broker Contract Reference.
          default: ''
        section_id:
          type: string
          description: A system-generated unique identifier for a Section, with a format and structure defined by the technology used.
          default: ''
        section_name:
          type: string
          description: A description of the Section supplied by the Broker.
          default: ''
      additionalProperties: false
      description: ''
    placement_negotiation_line_percentage_postput:
      type: object
      properties:
        comment:
          type: string
          description: Latest comment on the negotiation of a differing Written Line Percentage than that proposed by the Broker.
          default: ''
          pattern: ^.{1,8000}$
      additionalProperties: false
      description: The specified underwriting value, as a percentage.
    placement_negotiation_line_percentage:
      type: object
      properties:
        value:
          type: number
          description: The specified underwriting value, as a percentage.
          example: 0.1
        comments_history:
          type: array
          description: Array of comments on the Line Percentage Negotiation.
          items:
            $ref: '#/components/schemas/placement_negotiation_comments'
      additionalProperties: false
      description: The specified underwriting value, as a percentage.
    broker_user:
      required:
      - first_name
      - last_name
      - user_email
      type: object
      properties:
        user_email:
          type: string
          description: The email address of the User.
          default: ''
        first_name:
          type: string
          description: The first name of the User.
          default: ''
        last_name:
          type: string
          description: The last name of the User.
          default: ''
      additionalProperties: false
      description: The User information of the responsible Broker User.
    placement_negotiation_stamp_postput:
      required:
      - accept_stamp_indicator
      - stamp_id
      type: object
      properties:
        stamp_id:
          type: string
          description: A system-generated unique identifier for a Stamp, with a format and structure defined by the technology used.
          default: ''
          pattern: ^[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}$
        line_conditions:
          type: array
          description: The Line Condition information, identifying the Line Condition itself, the status of its agreement.
          items:
            $ref: '#/components/schemas/placement_negotiation_stamp_line_condition_postput'
        accept_stamp_indicator:
          type: boolean
          description: Identifies whether the stamp has been accepted (true) or not (false).&#160;
          example: false
        comment:
          type: string
          description: Latest comment on the negotiation of a Carrier Stamp proposed by the Underwriter.
          default: ''
          pattern: ^.{1,8000}$
      additionalProperties: false
      description: The Stamp information, identifying information about the underwriting entity, roles and line references to said underwriting.
    underwriter_user:
      required:
      - user_email
      type: object
      properties:
        user_email:
          type: string
          description: The email address of the User.
          default: ''
        first_name:
          type: string
          description: The first name of the User.
          default: ''
        last_name:
          type: string
          description: The last name of the User.
          default: ''
      additionalProperties: false
      description: The User information of the Underwriter User responsible for the Participation.
    placement_negotiation_written:
      required:
      - status
      type: object
      properties:
        line_percentage:
          $ref: '#/components/schemas/placement_negotiation_line_percentage'
        currency_code:
          type: string
          description: The 3-character code that represents the currency in ISO 4217 standard.
          default: ''
        amount:
          $ref: '#/components/schemas/placement_negotiation_amount'
        date:
          type: string
          description: The date and timestamp when the written line was provided.
          format: date-time
          example: '2014-12-31T23:59:59.938Z'
        status:
          type: string
          description: The code that represents the status of the written line when this is under negotiation, i.e. differs from that which was originally proposed.
          default: ''
      additionalProperties: false
      description: The written underwriting line information, that the Underwriter is willing to accept.
    placement_negotiation_role_plus:
      required:
      - role
      - status
      type: object
      properties:
        role:
          type: string
          description: The code that represents the role or roles that the Underwriter plays through their participation.
          default: ''
        status:
          type: string
          description: The code that represents the status of the role when this is under negotiation, i.e. differs from that which was originally proposed.
          default: ''
        comments_history:
          type: array
          description: Array of comments on the roles Negotiation.
          items:
            $ref: '#/components/schemas/placement_negotiation_comments'
      additionalProperties: false
      description: A mapping between Participation and Participation Role Type. This allows multiple roles to be captured against a single participation, for example both Slip Lead and Lloyd&#39;s Lead.
    error:
      type: object
      properties:
        message:
          type:
          - string
          - 'null'
          description: The error message.
        argument:
          type:
          - string
          - 'null'
          description: The syntax argument used to validate the field against (if on syntax validation).
        field:
          type:
          - string
          - 'null'
          description: The field where the error occurred (if field specific).
        code:
          type: string
          description: The error code.
    placement_negotiation_contract_document_postput:
      type: object
      properties:
        accept_contract_document_comments:
          type: boolean
          description: Identifies when the Broker accepts the Underwriter comments made to the Contract Document (true) or not (false).
          example: false
        comment:
          type: string
          description: Latest comment on the negotiation of comments made to the Contract Document.
          default: ''
          pattern: ^.{1,8000}$
      additionalProperties: false
      description: The negotiation pertaining to the content of the Contract Document.
    placement_negotiation_leader:
      required:
      - company_name
      - role
      - stamp
      - underwriter_leader
      type: object
      properties:
        underwriter_leader:
          $ref: '#/components/schemas/underwriter_user'
        company_name:
          type: string
          description: Name of the Company the User belongs to.
          default: ''
        role:
          type: string
          description: The code that represents the role or roles that the Underwriter plays through their participation.
          default: ''
        status:
          type: string
          description: The code that represents the status of the role when this is under negotiation, i.e. differs from that which was originally proposed.
          default: ''
        written:
          $ref: '#/components/schemas/placement_negotiation_leader_written'
        stamp:
          $ref: '#/components/schemas/placement_negotiation_leader_stamp'
      additionalProperties: false
      description: ''
    placement_negotiation_calculated:
      type: object
      properties:
        line_percentage:
          type: number
          description: The specified underwriting value, as a percentage.
          example: 0.1
      additionalProperties: false
      description: The calculated signing down information, following the Broker invoking the signing down process in the Section.
    underwriter_team_only_name:
      required:
      - team_name
      type: object
      properties:
        team_name:
          type: string
          description: The name of the Underwriter Team, as defined by the carrier organisation.
          default: ''
      additionalProperties: false
      description: The Team information of the Underwriter Team responsible for the Participation.
    placement_negotiation_getall:
      required:
      - broker_team
      - broker_user
      - contract_id
      - contract_version
      - has_line_conditions
      - has_subjectivities
      - is_leader
      - metadata
      - negotiation_id
      - order_limit
      - order_percentage
      - participation_id
      - personal_message
      - responding_to_negotiation_id
      - section_id
      - sent_by_user
      - status
      - status_reason
      - submission_id
      - type
      - underwriter_team
      - underwriter_user
      - written_line_basis
      type: object
      properties:
        negotiation_id:
          type: string
          description: A system-generated unique identifier for a Negotiation, with a format and structure defined by the technology used.
          default: ''
        metadata:
          $ref: '#/components/schemas/metadata'
        responding_to_negotiation_id:
          type: string
          description: A system-generated unique identifier for a Negotiation, with a format and structure defined by the technology used. The identifier Negotiation record that this record is in response to.
          default: ''
        submission_id:
          type: string
          description: A system-generated unique identifier for a Submission, with a format and structure defined by the technology used.
          default: ''
        contract_id:
          type: string
          description: A system-generated unique identifier for a Contract, with a format and structure defined by the technology used.
          default: ''
        contract_version:
          type: integer
          description: The contract version this negotiation respects to.
          format: int32
          example: 0
        section_id:
          type: string
          description: A system-generated unique identifier for a Section, with a format and structure defined by the technology used.
          default: ''
        participation_id:
          type: string
          description: A system-generated unique identifier for a Participation, with a format and structure defined by the technology used.
          default: ''
        broker_team:
          $ref: '#/components/schemas/broker_team'
        broker_user:
          $ref: '#/components/schemas/broker_user'
        underwriter_team:
          $ref: '#/components/schemas/underwriter_team_only_name'
        underwriter_user:
          $ref: '#/components/schemas/underwriter_user'
        sent_by_user:
          $ref: '#/components/schemas/sent_by_user'
        personal_message:
          type: string
          description: A personal message from the broker in relation to the Underwriter&#39;s Participation.
          default: ''
        type:
          type: string
          description: The type of the Negotiation.
          default: ''
        sub_type:
          type: string
          description: The subtype of the Negotiation.
          default: ''
        status:
          type: string
          description: The code that represents the Negotiation status, based upon the Type of Negotiation.
          default: ''
        status_reason:
          type: string
          description: The code that represents the reason for the Negotiation status
          default: ''
        written_line_basis:
          type: string
          description: The basis on which the underwriter&#39;s written lines are applied to the Order of a Contract or Section.
          default: ''
        signed_line_basis:
          type: string
          description: The basis on which the underwriter&#39;s signed lines are applied to the Order of a Contract or Section.
          default: ''
        order_percentage:
          type: number
          description: The basis upon which all signed lines are applied to the Order of a Contract or Section.
          example: 0.1
        order_limit:
          type: number
          description: The value to be used as part of the signing down process, where the Order is expressed as a monetary amount.
          example: 0.1
        is_leader:
          type: boolean
          description: Parameter used to return Negotiations records that have a leader role (true) or not (false).
          example: false
        roles:
          type: array
          description: A mapping between Participation and Participation Role Type. This allows multiple roles to be captured against a single participation, for example both Slip Lead and Lloyd&#39;s Lead.
          items:
            $ref: '#/components/schemas/placement_negotiation_role'
        has_line_conditions:
          type: boolean
          description: Parameter used to return Negotiation records that have at least one Line Condition (true) or no Line Conditions (false) present in any Stamp within a Participation, irrespective of the Status of the Line Condition.
          example: false
        has_subjectivities:
          type: boolean
          description: Parameter used to return Negotiation records that have at least one Subjectivity (true) or no Subjectivities (false) present.
          example: false
      additionalProperties: false
      description: Negotiation structure for Get All
    placement_negotiation_settlement:
      required:
      - adjustment_period_of_credit_days
      - installment_period_of_credit_days
      - settlement_due_date
      type: object
      properties:
        settlement_due_date:
          type: string
          description: The date and timestamp by when any instalment or payment of premium on this Contract or Section is expected to be paid to insurers.
          format: date
          example: '2014-12-31T00:00:00.000Z'
        installment_period_of_credit_days:
          type: integer
          description: The number of days of credit applied to when any instalment or payment of premium is due.
          format: int32
          example: 0
        adjustment_period_of_credit_days:
          type: integer
          description: The number of days after the date(s) specified for the provision of adjustments that insurers expect the final adjustment(s) of premium (if any) to be paid.
          format: int32
          example: 0
      additionalProperties: false
      description: ''
    placement_negotiation_stamp_risk_code:
      required:
      - code
      - percentage
      type: object
      properties:
        code:
          type: string
          description: The regulatory code that represents the risk for a risk classification.
          default: ''
        percentage:
          type: number
          description: The percentage of the total premium that is deemed to be the allocation of covering a particular risk code.
          example: 0.1
      additionalProperties: false
      description: A collection of data items to represent the regulatory risk classification for a Contract or Section. Only supports Lloyds Agency Type Risk Codes.
    placement_negotiation_facility_panel:
      required:
      - facility_panel_id
      - master_facility
      type: object
      properties:
        facility_panel_id:
          type: string
          description: A system-generated unique identifier for a Facility Panel, with a format and structure defined by the technology used.
          default: ''
        proposed:
          $ref: '#/components/schemas/placement_negotiation_facility_panel_proposed'
        written:
          $ref: '#/components/schemas/placement_negotiation_facility_panel_written'
        calculated:
          $ref: '#/components/schemas/placement_negotiation_facility_panel_calculated'
        signed:
          $ref: '#/components/schemas/placement_negotiation_facility_panel_signed'
        master_facility:
          $ref: '#/components/schemas/placement_negotiation_facility_panel_master'
      additionalProperties: false
      description: The Facility Panel information, holding values from the Master Facility as a whole. This information will be consistent across all Participation records which originate from the same Master Facility.
    placement_negotiation_getbyid:
      required:
      - broker_team
      - broker_user
      - contract_id
      - contract_version
      - has_line_conditions
      - is_draft
      - last_sent_status
      - metadata
      - negotiation_id
      - order_limit
      - order_percentage
      - participation_id
      - personal_message
      - proposed
      - responding_to_negotiation_id
      - risk_classification_agreed
      - section_id
      - sent_by_user
      - sent_by_user_message
      - settlement_agreed
      - status
      - status_reason
      - submission_id
      - type
      - underwriter_team
      - underwriter_user
      - written_line_basis
      type: object
      properties:
        negotiation_id:
          type: string
          description: A system-generated unique identifier for a Negotiation, with a format and structure defined by the technology used.
          default: ''
        metadata:
          $ref: '#/components/schemas/metadata'
        responding_to_negotiation_id:
          type: string
          description: A system-generated unique identifier for a Negotiation, with a format and structure defined by the technology used. The identifier Negotiation record that this record is in response to.
          default: ''
        submission_id:
          type: string
          description: A system-generated unique identifier for a Submission, with a format and structure defined by the technology used.
          default: ''
        contract_id:
          type: string
          description: A system-generated unique identifier for a Contract, with a format and structure defined by the technology used.
          default: ''
        contract_version:
          type: integer
          description: The contract version this negotiation respects to.
          format: int32
          example: 0
        section_id:
          type: string
          description: A system-generated unique identifier for a Section, with a format and structure defined by the technology used.
          default: ''
        participation_id:
          type: string
          description: A system-generated unique identifier for a Participation, with a format and structure defined by the technology used.
          default: ''
        broker_team:
          $ref: '#/components/schemas/broker_team'
        broker_user:
          $ref: '#/components/schemas/broker_user'
        underwriter_team:
          $ref: '#/components/schemas/underwriter_team_only_name'
        underwriter_user:
          $ref: '#/components/schemas/underwriter_user'
        sent_by_user:
          $ref: '#/components/schemas/sent_by_user'
        personal_message:
          type: string
          description: A personal message from the broker in relation to the Underwriter&#39;s Participation.
          default: ''
        sub_panel:
          $ref: '#/components/schemas/placement_negotiation_sub_panel'
        type:
          type: string
          description: The type of the Negotiation.
          default: ''
        sub_type:
          type: string
          description: The subtype of the Negotiation.
          default: ''
        status:
          type: string
          description: The code that represents the Negotiation status, based upon the Type of Negotiation.
          default: ''
        status_reason:
          type: string
          description: The code that represents the reason for the Negotiation status
          default: ''
        last_sent_status:
          type: string
          description: The code that represents the status of the last sent Negotiation.
          default: ''
        written_line_basis:
          type: string
          description: The basis on which the underwriter&#39;s written lines are applied to the Order of a Contract or Section.
          default: ''
        signed_line_basis:
          type: string
          description: The basis on which the underwriter&#39;s signed lines are applied to the Order of a Contract or Section.
          default: ''
        order_percentage:
          type: number
          description: The basis upon which all signed lines are applied to the Order of a Contract or Section.
          example: 0.1
        order_limit:
          type: number
          description: The value to be used as part of the signing down process, where the Order is expressed as a monetary amount.
          example: 0.1
        sent_by_user_message:
          type: string
          description: The user message specific for a negotiable data attribute.
          default: ''
        settlement_agreed:
          type: boolean
          description: Indicates when the Contract or Section Leader has agreed (true) the Settlement terms, or not (false).
          example: false
        settlement:
          $ref: '#/components/schemas/placement_negotiation_settlement'
        year_of_account:
          type: integer
          description: The year of account to which any premium payment for this Contract or Section is allocated to. This is usually required on risks where the contract period exceeds 18 months.
          format: int32
          example: 0
        proposed:
          $ref: '#/components/schemas/placement_negotiation_proposed'
        written:
          $ref: '#/components/schemas/placement_negotiation_written'
        calculated:
          $ref: '#/components/schemas/placement_negotiation_calculated'
        signed:
          $ref: '#/components/schemas/placement_negotiation_signed'
        roles:
          type: array
          description: A mapping between Participation and Participation Role Type. This allows multiple roles to be captured against a single participation, for example both Slip Lead and Lloyd&#39;s Lead.
          items:
            $ref: '#/components/schemas/placement_negotiation_role_plus'
        has_line_conditions:
          type: boolean
          description: Parameter used to return Negotiation records that have at least one Line Condition (true) or no Line Conditions (false) present in any Stamp within a Participation, irrespective of the Status of the Line Condition.
          example: false
        risk_classification_agreed:
          type: boolean
          description: Indicates when the Risk Classification information has been agreed (true) by either the Lloyd&#39;s or LIC Leader of the Contract or Section, or not (false).
          example: false
        stamps:
          type: array
          description: The Stamp information, identifying information about the underwriting entity, roles and line references to said underwriting.
          items:
            $ref: '#/components/schemas/placement_negotiation_stamp'
        subjectivities:
          type: array
          description: The Subjectivity information, identifying the Subjectivity itself, the status of cover prior to its agreement/satisfaction and any deadline applied to satisfy.
          items:
            $ref: '#/components/schemas/placement_negotiation_subjectivity'
        contract_document:
          $ref: '#/components/schemas/placement_negotiation_contract_document'
        is_draft:
          type: boolean
          description: Identifies whether the negotiation is saved as a draft (true) or not (false). It should always be false after the negotiation is sent, and only updated to true when the negotiation or its parent Submission is formally sent to the other party.
          example: false
        save_response:
          $ref: '#/components/schemas/placement_negotiation_save_response'
        facility_panel:
          $ref: '#/components/schemas/placement_negotiation_facility_panel'
        leaders:
          type: array
          description: A collection of contractual leadership information, where applicable.
          items:
            $ref: '#/components/schemas/placement_negotiation_leader'
      additionalProperties: false
      description: Negotiation structure for Get by Identifier
    placement_negotiation_written_postput:
      required:
      - accept_written_line_indicator
      type: object
      properties:
        line_percentage:
          $ref: '#/components/schemas/placement_negotiation_line_percentage_postput'
        amount:
          $ref: '#/components/schemas/placement_negotiation_amount_postput'
        accept_written_line_indicator:
          type: boolean
          description: dentifies whether the written line has been accepted (true) or not (false).&#160;
          example: false
      additionalProperties: false
      description: The written underwriting line information, that the Underwriter is willing to accept.
    placement_negotiation_stamp:
      required:
      - agency_code
      - agency_type
      - name
      - stamp_id
      - status
      type: object
      properties:
        stamp_id:
          type: string
          description: A system-generated unique identifier for a Stamp, with a format and structure defined by the technology used.
          default: ''
        agency_type:
          type: string
          description: The code that represents the agency type.
          default: ''
        agency_code:
          type: string
          description: The number that represents the stamp. For example this will be the 4-digit syndicate number for Lloyd&#39;s stamps.
          default: ''
        name:
          type: string
          description: The legal name of the stamp, as provided by the Carrier organisation.
          default: ''
        stamp_role:
          type: string
          description: The code that represents the role or roles that the stamp plays in this Participation.
          default: ''
        percentage_of_total_written_line:
          type: number
          description: The specified underwriting value, as a proportion of 100 percent of the overall negotiation.
          example: 0.1
        written_line_absolute_percentage:
          type: number
          description: The specified underwriting value, as an absolute percentage of a Stamp.
          example: 0.1
        written_line_currency_code:
          type: string
          description: The 3-character code that represents the currency in ISO 4217 standard.
          default: ''
        written_line_amount:
          type: number
          description: The specified underwriting value, as an amount.
          example: 0.1
        calculated_line_percentage:
          type: number
          description: The specified underwriting value, as a percentage. The calculated signing down information.
          example: 0.1
        signed_line_percentage:
          type: number
          description: The specified underwriting value, as a percentage. The signed line information.
          example: 0.1
        risk_classification:
          type: array
          description: A collection of data items to represent the regulatory risk classification for a Contract or Section. Only supports Lloyds Agency Type Risk Codes.
          items:
            $ref: '#/components/schemas/placement_negotiation_stamp_risk_code'
        line_conditions:
          type: array
          description: The Line Condition information, identifying the Line Condition itself, the status of its agreement.
          items:
            $ref: '#/components/schemas/placement_negotiation_stamp_line_condition'
        references:
          type: array
          description: The line reference information, which captures the line references in relating to the Contract or Section that is being underwritten. Also maintain the Risk Classification mapping against the line references.
          items:
            $ref: '#/components/schemas/placement_negotiation_stamp_reference'
        status:
          type: string
          description: The code that represents the status of the Stamp when this is under negotiation, i.e. differs from that which was originally proposed.
          default: ''
        comments_history:
          type: array
          description: Array of comments on the stamps negotiation.
          items:
            $ref: '#/components/schemas/placement_negotiation_comments'
      additionalProperties: false
      description: The Stamp information, identifying information about the underwriting entity, roles and line references to said underwriting.
    placement_negotiation_leader_written:
      type: object
      properties:
        line_percentage:
          $ref: '#/components/schemas/placement_negotiation_leader_written_line_percenta'
        currency_code:
          type: string
          description: The 3-character code that represents the currency in ISO 4217 standard.
          default: ''
        amount:
          $ref: '#/components/schemas/placement_negotiation_leader_written_amount'
      additionalProperties: false
      description: ''
    broker_team:
      required:
      - team_id
      - team_name
      type: object
      properties:
        team_id:
          type: string
          description: A system-generated unique identifier for a Broker Team, with a format and structure defined by the technology used.
          default: ''
        team_name:
          type: string
          description: The name of the Broker Team, as defined by the broker organisation.
          default: ''
      additionalProperties: false
      description: The team information of the Broker Team responsible for the node.
    placement_negotiation_subjectivity:
      required:
      - confirmation_required
      - description
      - negotiation_status
      - off_cover_indicator
      - saved_as_accepted
      - saved_as_declined
      - status
      - subjectivity_id
      type: object
      properties:
        subjectivity_id:
          type: string
          description: A system-generated unique identifier for a Subjectivity, with a format and structure defined by the technology used.
          default: ''
        description:
          type: string
          description: A description of the subjectivity and any associated terms.
          default: ''
        confirmation_required:
          type: boolean
          description: Indicates whether a subjectivity requires confirmation (true) or not (false).
          example: false
        confirmation_required_by_date:
          type: string
          description: The date and timestamp by which the Subjectivity needs to be met.
          format: date-time
          example: '2014-12-31T23:59:59.938Z'
        off_cover_indicator:
          type: boolean
          description: Indicates whether the Underwriter&#39;s participation is off-cover (true) until the Subjectivity is satisfied, or continues to be on cover (false).
          example: false
        status:
          type: string
          description: The code that represents the status of the Subjectivity.
          default: ''
        negotiation_status:
          type: string
          description: The code that represents the status of the Subjectivity when this is under negotiation.
          default: ''
        withdrawn_date:
          type: string
          description: The date and timestamp on which the Subjectivity was withdrawn.
          format: date-time
          example: '2014-12-31T23:59:59.938Z'
        saved_as_accepted:
          type: boolean
          description: Identifies when the Subjectivity under review from the Broker is marked as Accepted (true) or not (false).
          example: false
        saved_as_declined:
          type: boolean
          description: Identifies when the Subjectivity under review is marked as Declined (true) or not (false).
          example: false
        comments_history:
          type: array
          description: Array of comments on the subjectivities negotiation.
          items:
            $ref: '#/components/schemas/placement_negotiation_comments'
      additionalProperties: false
      description: The Subjectivity information, identifying the Subjectivity itself, the status of cover prior to its agreement/satisfaction and any deadline applied to satisfy.
    placement_negotiation_leader_stamp:
      required:
      - agency_code
      - agency_type
      - name
      - percentage_of_total_written_line
      - stamp_role
      type: object
      properties:
        agency_type:
          type: string
          description: The code that represents the agency type.
          default: ''
        agency_code:
          type: string
          description: The number that represents the stamp. For example this will be the 4-digit syndicate number for Lloyd&#39;s stamps.
          default: ''
        name:
          type: string
          description: The legal name of the stamp, as provided by the Carrier organisation.
          default: ''
        stamp_role:
          type: string
          description: The code that represents the role or roles that the stamp plays in this Participation.
          default: ''
        percentage_of_total_written_line:
          type: number
          description: The specified underwriting value, as a percentage.
          example: 0.1
        written_line_absolute_percentage:
          type: number
          description: The specified underwriting value, as an absolute percentage of a Stamp.
          example: 0.1
        written_line_currency_code:
          type: string
          description: The 3-character code that represents the currency in ISO 4217 standard.
[...]
